<!-- templates/alunos/aluno_detail.html -->

{% extends "base.html" %}

{% block title %}SIGA - Detalhes do Aluno{% endblock %}

{% block body_class %}body-apps-detail{% endblock %}

{% block header_title %}
    Detalhes do Aluno<br>
    <span class="apps-detail-subtitle">{{ aluno.nome }}</span>
{% endblock %}

{% block content %}

<div class="container-verticalTab">
    <div class="verticalTab-sidebar">
        <div class="verticalTab" data-content="aluno-detail-dados-pessoais">
            <i class="fa fa-user"></i>
            <span>Dados Pessoais</span>
        </div>
        <div class="verticalTab" data-content="aluno-detail-endereco">
            <i class="fa fa-map-location-dot"></i>
            <span>Endereço</span>
        </div>
        <div class="verticalTab" data-content="aluno-detail-contatos">
            <i class="fa fa-address-book"></i>
            <span>Contatos</span>
        </div>
        <div class="verticalTab btn-disabled" data-content="aluno-detail-centroProva-exame">
            <i class="fa fa-school"></i>
            <span>Centro de Provas</span>
        </div>
        <div class="verticalTab btn-disabled" data-content="aluno-detail-turmas">
            <i class="fa fa-users"></i>
            <span>Turmas</span>
        </div>
        <div class="verticalTab btn-disabled" data-content="aluno-detail-financeiro">
            <i class="fa fa-wallet"></i>
            <span>Financeiro</span>
        </div>
    </div>
    <!-- Conteúdo das Guias-->
    <div class="verticalTab-content-wrapper">
        <div class="verticalTab-content">
            <div id="aluno-detail-dados-pessoais" class="verticalTab-content-item active">
                <h6 class="apps-detail-sub-section-title">Dados Pessoais</h6>
                <div class="apps-detail-group">
                    <div class="apps-detail-group-status">
                        <h6 class="apps-detail-status-section-title">Status do Aluno</h6>
                        <div class="apps-detail-group-status-sub">
                            <p class="p-detail">
                                <span class="apps-detail-value">{{ aluno.inativo|yesno:"Inativo,Ativo" }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <p class="p-detail">
                    <span class="apps-detail-label">UID: </span>
                    <span class="apps-detail-value">{{ aluno.uid }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">Nome: </span>
                    <span class="apps-detail-value">{{ aluno.nome }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">CPF: </span>
                    <span class="apps-detail-value">{{ aluno.cpf }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">Observação: </span>
                    <span class="apps-detail-value">{{ aluno.observacao }}</span>
                </p>
            </div>
            <div id="aluno-detail-endereco" class="verticalTab-content-item">
                <h6 class="apps-detail-sub-section-title">Endereço</h6>
                <p class="p-detail">
                    <span class="apps-detail-label">CEP: </span>
                    <span class="apps-detail-value">{{ aluno.cep }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">Endereço: </span>
                    <span class="apps-detail-value">{{ aluno.endereco }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">Número: </span>
                    <span class="apps-detail-value">{{ aluno.numero|floatformat:0 }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">Complemento: </span>
                    <span class="apps-detail-value">{{ aluno.complemento }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">Bairro: </span>
                    <span class="apps-detail-value">{{ aluno.bairro }}</span>
                </p>
                <p class="p-detail">
                    <span class="apps-detail-label">Cidade: </span>
                    <span class="apps-detail-value">{{ aluno.cidade.nome }} / {{ aluno.cidade.estado.uf }}</span>
                </p>
            </div>
            <div id="aluno-detail-contatos" class="verticalTab-content-item">
                <h6 class="apps-detail-sub-section-title">Contatos</h6>
                {% if contatos %}
                    <table class="tb-detail">
                        <thead>
                            <tr>
                                <th>Tipo de Contato</th>
                                <th>Contato</th>
                                <th>Detalhe</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contato in contatos %}
                                <tr>
                                    <td>{{ contato.tipoContato }}</td>
                                    <td>
                                        {% if contato.tipo_contato == 'Telefone' or contato.tipo_contato == 'Celular' %}
                                            <span class="telefone">{{ contato.contato }}</span>
                                        {% else %}
                                            {{ contato.contato }}
                                        {% endif %}
                                    </td>
                                    <td>{{ contato.detalhe }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Este aluno não possui contatos cadastrados.</p>
                {% endif %}
            </div>
        </div>
        <!-- Grupo de botões -->
        <div class="verticalTab-btn-group">
            <a class="btn-edit btn-dark btn-circle" href="{% url 'aluno_edit' aluno.pk %}"></a>
            <a class="btn-delete btn-dark btn-circle" id="btn-delete" data-model="Aluno" data-pk="{{ aluno.pk }}" href="#"></a>
            <a class="btn-return btn-dark btn-circle" href="{% url 'aluno_list' %}"></a>
        </div>
    </div>
</div>

<!-- Modal Pop-up -->
{% include 'includes/modals.html' %}

{% endblock %}
