<!-- templates/alunos/aluno_form.html -->

{% extends "base.html" %}

{% block title %}{{ form.instance.pk|yesno:"Editar Aluno,Adicionar Aluno" }}{% endblock %}

{% block body_class %}body-apps-form{% endblock %}

{% block header_title %}{{ form.instance.pk|yesno:"Editar Aluno,Adicionar Aluno" }}{% endblock %}

{% block content %}

<div class="container-apps-form">
    <form method="post" class="apps-form-edit">
        {% csrf_token %}
        <div class="apps-form-group-edit">
            {% if form.instance.pk %}
            <div class="apps-form-group-edit-status">
                <h4 class="apps-form-status-section-title">Status do Aluno</h4>
                <div class="apps-form-input">
                    <label for="aluno-inativo">Inativo: </label>
                        {{ form.inativo }}
                </div>
            </div>
            {% endif %}
            <div class="apps-form-group-edit-sub">
                <h4 class="apps-form-sub-section-title">Dados Cadastrais</h4>
                <div class="apps-form-input">
                    <label for="aluno-nome">Nome: </label>
                    {{ form.nome }}
                </div>
                <div class="apps-form-input">
                    <label for="aluno-cpf">CPF: </label>
                    {{ form.cpf }}
                </div>
            </div>
            <div class="apps-form-group-edit-sub">
                <h4 class="apps-form-sub-section-title">Endereço</h4>
                <div class="apps-form-input">
                    <label for="aluno-cep">CEP: </label>
                    {{ form.cep }}
                </div>
                <div class="apps-form-input">
                    <label for="aluno-logradouro">Logradouro: </label>
                    {{ form.endereco }}
                </div>
                <div class="apps-form-input">
                    <label for="aluno-numero">Nº: </label>
                    {{ form.numero }}
                </div>
                <div class="apps-form-input">
                    <label for="aluno-complemento">Complemento: </label>
                    {{ form.complemento }}
                </div>
                <div class="apps-form-input">
                    <label for="aluno-bairro">Bairro: </label>
                    {{ form.bairro }}
                </div>
                <div class="apps-form-input">
                    <label for="aluno-cidade">Cidade / UF: </label>
                    {{ form.cidade }}
                </div>
            </div>
            <!-- Contatos -->
            <div class="apps-form-group-edit-sub">
                <h4 class="apps-form-sub-section-title">Contatos</h4>
                {{ formset.management_form }}
                <table class="tb-form">
                    <thead>
                        <tr>
                            <th>Tipo de Contato</th>
                            <th>Contato</th>
                            <th>Detalhe</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contato_form in formset %}
                        <tr>
                            <td>{{ contato_form.id }}{{ contato_form.tipoContato }}</td>
                            <td>{{ contato_form.contato }}</td>
                            <td>{{ contato_form.detalhe }}</td>
                            <td>
                                {% if formset.can_delete %}
                                    {{ contato_form.DELETE }} Excluir
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhum contato adicionado.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Grupo de botões (Salvar e Retornar) -->
        <div class="apps-form-btn-group">
            <button class="btn-save btn-dark" type="submit">Salvar Aluno</button>
            <a class="btn-return btn-yellow" href="{% url 'aluno_home' %}">Retornar</a>
        </div>
    </form>
</div>

{% endblock %}
