<!-- templates/curso/curso_home.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Cursos{% endblock %}

{% block content %}

<h2 class="page-title">Gestão de Cursos</h2>
<div class="column-container">
    <div class="column">
        <h3 class="page-subtitle">Categorias dos Cursos</h3>
        <div class="btn-group-center">
            <a href="{% url 'cursoCategoria_new' %}" class="btn-new" aria-label="Criar Nova Categoria de Cursos">Novo</a>
            <a href="{% url 'cursoCategoria_list' %}" class="btn-list" aria-label="Localizar Categoria de Cursos">Localizar</a>
        </div>
    </div>
    <div class="column">
        <h3 class="page-subtitle">Cursos</h3>
        <div class="btn-group-center">
            <a href="{% url 'curso_new' %}" class="btn-new" aria-label="Criar novo Curso">Novo</a>
            <a href="{% url 'curso_list' %}" class="btn-list" aria-label="Localizar Cursos">Localizar</a>
        </div>
    </div>
</div>
<div class="column-container">
    <div class="column">
        <h3 class="page-subtitle">Certificadores</h3>
        <div class="btn-group-center">
            <a href="{% url 'certificador_new' %}" class="btn-new" aria-label="Criar Novo Certificador">Novo</a>
            <a href="{% url 'certificador_list' %}" class="btn-list" aria-label="Localizar Certificador">Localizar</a>
        </div>
    </div>
    <div class="column">
        <h3 class="page-subtitle">Certificações</h3>
        <div class="btn-group-center">
            <a href="{% url 'certificacao_new' %}" class="btn-new" aria-label="Criar Nova Certificação">Novo</a>
            <a href="{% url 'certificacao_list' %}" class="btn-list" aria-label="Localizar Certificação">Localizar</a>
        </div>
    </div>
</div>

{% endblock %}
