<!-- templates/cursos/cursoCategoria_list.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Lista de Categorias de Cursos{% endblock %}

{% block content %}

<h2 class="page-title">Lista de Categorias de Cursos</h2>
<!-- Formulário de busca e filtro -->
<form method="GET" action="{% url 'cursoCategoria_list' %}" class="search-form">
    <div class="form-group-search">
        <div class="form-group-search-sub">
            <input type="checkbox" id="check-list-cursoCategoria-nome" data-target="list-cursoCategoria-nome">
            <label for="search-list-cursoCategoria-nome">Nome ou Sigla:</label>
            <input type="text" id="list-cursoCategoria-nome" name="q" placeholder="Busque por Nome ou Sigla da Categoria dos Cursos" value="{{ request.GET.q }}" class="form-control" aria-label="Busque por Nome ou Sigla da Categoria dos Cursos">
        </div>
        <div class="select-group-search">
            <input type="checkbox" id="check-list-cursoCategoria-inativo" data-target="list-cursoCategoria-inativo">
            <label for="search-list-cursoCategoria-inativo">Inativo:</label>
            <select name="inativo" id="list-cursoCategoria-inativo" class="select-search select2">
                <option value="True" {% if request.GET.inativo == 'True' %}selected{% endif %}>Sim</option>
                <option value="False" {% if request.GET.inativo == 'False' %}selected{% endif %}>Não</option>
            </select>
        </div>
    </div>
    <!-- Botões de Ação -->
    <div class="btn-group-search">
        <button type="submit" class="btn-list btn-circle"></button>
        <a class="btn-clear btn-circle" href="{% url 'cursoCategoria_list' %}"></a>
    </div>
</form>
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'curso_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'cursoCategoria_new' %}">Novo</a>
</div>
<!-- Seletor para escolher quantos registros exibir -->
{% include "includes/records_per_page_selector.html" with action_url=request.path %}
<!-- Contador de registros -->
{% include 'includes/record_counter.html' with page_obj=page_obj %}
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Tabela de busca -->
<table class="tb-list" id="tb-list-cursoCategoria">
    <thead>
        <tr>
            <th>
                <a href="?order_by=id&descending={% if request.GET.order_by == 'sigla' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    Sigla {% if request.GET.order_by == 'sigla' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=nome&descending={% if request.GET.order_by == 'nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    Nome {% if request.GET.order_by == 'nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>Inativo</th>
        </tr>
    </thead>
    <tbody>
        {% for cursoCategoria in page_obj %}
        <tr>
            <td>{{ cursoCategoria.sigla }}</td>
            <td><a href="{% url 'cursoCategoria_detail' cursoCategoria.pk %}">{{ cursoCategoria.nome }}</a></td>
            <td>{{ cursoCategoria.inativo|yesno:"Sim,Não" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhuma Categoria de Cursos encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Contador de registros -->
{% include 'includes/record_counter.html' with page_obj=page_obj %}
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'curso_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'cursoCategoria_new' %}">Novo</a>
</div>

{% endblock %}
