<!-- templates/centroProva/centroProva-exame_list.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Lista de Cursos{% endblock %}

{% block content %}

<h2 class="page-title">Lista de Cursos</h2>
<!-- Formulário de busca e filtro -->
<form method="GET" action="{% url 'curso_list' %}" class="search-form">
    <div class="form-group-search">
        <div class="form-group-search-sub">
            <input type="checkbox" id="check-list-curso-nome" data-target="list-curso-nome">
            <label for="search-list-curso-nome">ID ou Nome:</label>
            <input type="text" id="list-curso-nome" name="q" placeholder="Busque por Código ou Nome do Curso" value="{{ request.GET.q }}" class="form-control" aria-label="Busque por Código ou Nome do Curso">
        </div>
        <div class="form-group-search-sub">
            <input type="checkbox" id="check-list-curso-categoria" data-target="list-curso-categoria">
            <label for="search-list-curso-categoria">Categoria:</label>
            <select name="categoria" id="list-curso-categoria" class="select-search select2">
                <option value="">Selecionar Categoria</option>
                {% for categoria in categoria %}
                <option value="{{ categoria.id }}" {% if request.GET.categoria == categoria.id %}selected{% endif %}>
                    {{ categoria.nome }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="select-group-search">
            <input type="checkbox" id="check-list-curso-inativo" data-target="list-curso-inativo">
            <label for="search-list-curso-inativo">Inativo:</label>
            <select name="inativo" id="list-curso-inativo" class="select-search select2">
                <option value="True" {% if request.GET.inativo == 'True' %}selected{% endif %}>Sim</option>
                <option value="False" {% if request.GET.inativo == 'False' %}selected{% endif %}>Não</option>
            </select>
        </div>
    </div>
    <!-- Botões de Ação -->
    <div class="btn-group-search">
        <button type="submit" class="btn-list btn-circle"></button>
        <a class="btn-clear btn-circle" href="{% url 'curso_list' %}"></a>
    </div>
</form>
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'curso_home' %}" accesskey="r">Retornar</a>
    <a class="btn-new" href="{% url 'curso_new' %}" accesskey="n">Novo</a>
    <!-- <a class="btn-pdf" href="{% url 'exame_report_pdf' %}?{{ query_params }}">Exportar para PDF</a>
    <a class="btn-excel" href="{% url 'exame_report_xlsx' %}?{{ query_params }}">Exportar para Excel</a> -->
</div>
<!-- Seletor para escolher quantos registros exibir -->
{% include "includes/records_per_page_selector.html" with action_url=request.path %}
<!-- Contador de registros -->
{% include 'includes/record_counter.html' with page_obj=page_obj %}
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Tabela de busca -->
<table class="tb-list" id="tb-list-curso">
    <thead>
        <tr>
            <th>
                <a href="?order_by=codigo&descending={% if request.GET.order_by == 'codigo' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&categoria={{ request.GET.categoria }}&inativo={{ request.GET.inativo }}">
                    Código {% if request.GET.order_by == 'codigo' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=nome&descending={% if request.GET.order_by == 'nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&categoria={{ request.GET.categoria }}&inativo={{ request.GET.inativo }}">
                    Nome do Curso {% if request.GET.order_by == 'nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=categoria__nome&descending={% if request.GET.order_by == 'categoria__nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&categoria={{ request.GET.categoria }}&inativo={{ request.GET.inativo }}">
                    Categoria {% if request.GET.order_by == 'categoria__nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>Inativo</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in page_obj %}
        <tr>
            <td>{{ curso.codigo }}</td>
            <td><a href="{% url 'curso_detail' curso.pk %}">{{ curso.nome }}</a></td>
            <td>{{ curso.categoria.nome }}</td>
            <td>{{ curso.inativo|yesno:"Sim,Não" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Nenhum curso encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Contador de registros -->
{% include 'includes/record_counter.html' with page_obj=page_obj %}
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'curso_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'curso_new' %}">Novo</a>
</div>

{% endblock %}
