<!-- templates/curso/curso_home.html -->

{% extends "base.html" %}

{% block title %}SIGA - Gestão de Cursos{% endblock %}

{% block body_class %}body-home{% endblock %}

{% block header_title %}Gestão de Cursos{% endblock %}

{% block content %}

<div class="container-home-apps">
    <div class="column-home-apps">
        <h3 class="home-apps-subtitle">Cursos</h3>
        <div class="btn-group-home-apps">
            <a href="{% url 'curso_new' %}" class="btn-new btn-transparent" aria-label="Criar novo Curso">Novo</a>
            <a href="{% url 'curso_list' %}" class="btn-list btn-transparent" aria-label="Localizar Cursos">Localizar</a>
        </div>
    </div>
    <div class="column-home-apps">
        <h3 class="home-apps-subtitle">Categorias dos Cursos</h3>
        <div class="btn-group-home-apps">
            <a href="{% url 'cursoCategoria_new' %}" class="btn-new btn-transparent" aria-label="Criar Nova Categoria de Cursos">Novo</a>
            <a href="{% url 'cursoCategoria_list' %}" class="btn-list btn-transparent" aria-label="Localizar Categoria de Cursos">Localizar</a>
        </div>
    </div>
    <div class="column-home-apps">
        <h3 class="home-apps-subtitle">Training Blocks</h3>
        <div class="btn-group-home-apps">
            <a href="{% url 'curso_new' %}" class="btn-new btn-transparent" aria-label="Criar novo Curso">Novo</a>
            <a href="{% url 'curso_list' %}" class="btn-list btn-transparent" aria-label="Localizar Cursos">Localizar</a>
        </div>
    </div>
    <div class="column-home-apps">
        <h3 class="home-apps-subtitle">Tópicos da Training Blocks</h3>
        <div class="btn-group-home-apps">
            <a href="{% url 'cursoCategoria_new' %}" class="btn-new btn-transparent" aria-label="Criar Nova Categoria de Cursos">Novo</a>
            <a href="{% url 'cursoCategoria_list' %}" class="btn-list btn-transparent" aria-label="Localizar Categoria de Cursos">Localizar</a>
        </div>
    </div>
</div>

{% endblock %}
