<!-- templates/cursos/trainingBlocksTopico_form.html -->

{% extends "base.html" %}

{% block title %}{{ form.instance.pk|yesno:"Editar Tópico da Training Blocks,Adicionar Tópico da Training Blocks" }}{% endblock %}

{% block body_class %}body-apps-form{% endblock %}

{% block header_title %}{{ form.instance.pk|yesno:"Editar Tópico da Training Blocks,Adicionar Tópico da Training Blocks" }}{% endblock %}

{% block content %}

<div class="container-apps-form">
    <form method="post" class="apps-form-edit">
        {% csrf_token %}
        <div class="apps-form-group-edit">
            {% if form.instance.pk %}
            <div class="apps-form-group-edit-status">
                <h4 class="apps-form-status-section-title">Status do Tópico da Training Blocks</h4>
                <div class="apps-form-input">
                    <label for="id_inativo">Inativo: </label>
                    <select id="id_inativo" name="inativo">
                        <option value="False" {% if not form.instance.inativo %}selected{% endif %}>Não</option>
                        <option value="True" {% if form.instance.inativo %}selected{% endif %}>Sim</option>
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="apps-form-group-edit-sub">
                <h4 class="apps-form-sub-section-title">Detalhes do Tópico da Training Blocks</h4>
                <div class="apps-form-input">
                    <label for="id_nome">Nome: </label>
                    {{ form.nome }}
                </div>
                <div class="apps-form-input">
                    <label for="id_codigo">Código: </label>
                    <input type="text" name="codigo" id="id_codigo" class="rtl-number-input"
                        value="{{ form.codigo.value|default_if_none:'' }}">
                </div>
            </div>
        </div>
        <!-- Grupo de botões -->
        <div class="apps-form-btn-group">
            <button class="btn-save btn-dark" type="submit">Salvar Curso</button>
            <a class="btn-return btn-yellow" href="{% url 'trainingblockstopico_list' %}">Retornar</a>
        </div>
    </form>
</div>

{% endblock %}
