<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGA - Recuperação de Senha Solicitada</title>
    {% load static %}
    {% include 'css_includes.html' %}
</head>
<body class="password-reset-done-page">
    <div class="password-reset-done-container">
        <h2>Recuperação de Senha Solicitada</h2>
        <p>Se um usuário com o endereço de e-mail fornecido existir, um link de recuperação será enviado para o e-mail.</p>
    </div>
    <footer>
        <p>&copy; 2024 SIGA - Sistema Integrado de Gestão Administrativa</p>
    </footer>
</body>
</html>