<!-- templates/registration/password_reset.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGA - Recuperar Senha</title>
    {% load static %}
    {% load socialaccount %}
    <!-- Fontes e estilos CSS -->
    {% include 'css_includes.html' %}
</head>
<body class="password-reset-page">
    <div class="password-reset-container">
        <!-- Adicionando a imagem de destaque -->
        <div class="password-reset-image">
            <img src="{% static 'images/logo-siga-horizontal-negativo-preto.png' %}" alt="Logo SIGA">
        </div>

        <div class="password-reset-box">
            <h2>Recuperar Senha</h2>
            <form method="post">
                {% csrf_token %}
                <div class="password-reset-form-group">
                    <label for="{{ form.email.id_for_label }}">E-mail:</label>
                    {{ form.email }}
                </div>
                <button type="submit" class="btn-reset" accesskey="e">Enviar Link de Recuperação</button>
            </form>
        </div>
        <a class="btn-return" href="{% url 'login' %}" accesskey="r">Retornar</a>
    </div>
    <!-- Rodapé Comum -->
    <footer>
        <p>&copy; 2024 SIGA - Sistema Integrado de Gestão Administrativa</p>
    </footer>
</body>
</html>
