/* PÁGINA INICIAL DOS APPS */
.body-apps-home {
    background-color: black;
    color: #fff;
}

.container-home-apps {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.column-home-apps {
    display: flex;
    flex: 1 1 calc(25% - 20px);
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;    
    min-height: 100px;
    box-sizing: border-box;
    background: #E3E3E1;
}

.btn-group-home-apps {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.btn-group-home-apps a {
    flex: 1 1 calc(50% - 10px);
    text-align: left;
}

.home-apps-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.0em;
    color: black;
    background-color: #E6B510;
    padding: 10px;
}

@media (max-width: 1024px) {
    .column {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .column {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .btn-group a {
        flex: 1 1 100%;
        text-align: left;
    }
}
