/* CORPO DO SITE */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 800;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 10px rgba(26, 79, 69, 0.3);
    padding-top: 14px;
    padding-bottom: 14px;
}
