/* Breadcrumbs */
.breadcrumb-nav {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 10px;
    color: #6c757d;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #3FB081;
    transition: color 0.3s;
}

.breadcrumb-item a:hover {
    color: #e6b510;
}

.breadcrumb-item i {
    margin-right: 5px;
}