/* CABEÇALHO DO SITE */
header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 200px;
    height: auto;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu > ul > li {
    position: relative;
    margin-right: 10px;
    transition: color 0.5s ease;
}

.menu > ul > li:hover {
    color: #E6B510;
}

.menu > ul > li:hover::before,
.menu > ul > li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #3FB081;
}

.menu > ul > li:hover::before {
    top: 0;
}

.menu > ul > li:hover::after {
    bottom: 0;
}

.menu > ul > li > a {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #3FB081;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.menu > ul > li > a i {
    margin-right: 8px;
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
    color: #3FB081;
    transition: color 0.5s ease;
}

.menu > ul > li:hover > a,
.menu > ul > li:hover > a i {
    color: #E6B510;
}

.menu > ul > li.active {
    color: #E6B510;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 24px;
    color: white;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu ul.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }
}
