/* PÁGINA INICIAL */
.body-home {
    background-color: black;
    color: #fff;
}

.container-home {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

/* Centralização da imagem do logo */
.logo-container-home {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 20%;
    height: auto;
}

/* Grid de aplicativos */
.app-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.app-item {
    flex: 1 1 calc(20% - 20px);
    max-width: calc(20% - 20px);
    text-align: center;
    background: #3FB081;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.app-item i {
    font-size: 48px;
    color: #000;
    margin-bottom: 10px;
}

.app-item p {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.app-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #e6b510;
}

/* Responsividade */
@media (max-width: 992px) {
    .app-item {
        flex: 1 1 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    .app-item {
        flex: 1 1 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

@media (max-width: 576px) {
    .app-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}
