/* PÁGINA INICIAL */
.home-page {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}

.container-home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Grid de aplicativos */
.app-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.app-item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    text-align: center;
    background: #3FB081;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.app-item a {
    text-decoration: none;
    color: #000;
}

.app-item i {
    font-size: 48px;
    color: #000;
    margin-bottom: 10px;
}

.app-item p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.app-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #e6b510;
}

/* Responsividade */
@media (max-width: 992px) {
    .app-item {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .app-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .app-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
