/* IMPORTAÇÃO DE FONTES */
@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* IMPORTAR O CSS DO SELECT2 */
@import url('/static/select2/css/select2.min.css');

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* PÁGINA DE LOGIN */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
}

.login-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.login-form-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif; /* Montserrat para os rótulos */
}

.login-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif; /* Montserrat para os campos de input */
}

.login-page .btn {
    background-color: #be1622;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-page .btn:hover {
    background-color: #a1141d;
}

.login-image {
    margin-bottom: 20px;
}

.login-image img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* Fonte padrão para o corpo do texto */
body {
    font-family: 'Montserrat', sans-serif; /* Fonte Montserrat para o corpo */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #575756;
}

/* Estilos para títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka', sans-serif; /* Fonte Fredoka para títulos */
}

/* Estilos para o header e navegação */
header {
    background-color: #be1622;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 2em;
    margin: 0;
    font-family: 'Fredoka', sans-serif; /* Usando Fredoka no logo */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    background-color: #800f17;
    display: inline-block;
    margin-right: 15px;
}

nav ul li:hover {
    background-color: #bf9d2a;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Fredoka', sans-serif;
}

nav ul li a i {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}

/* Container de conteúdo */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Padronização das páginas de duas ou mais colunas */
.column-container {
    display: flex; /* Alinha as colunas lado a lado */
    justify-content: space-between; /* Espaço entre as colunas */
    gap: 10px; /* Define o espaço entre as colunas */
}

.column {
    flex: 1 1 calc(50% - 10px); /* Cada coluna ocupa 50% menos o gap */
    padding: 10px; /* Preenchimento interno */
    background-color: #e3e3e1; /* Cor de fundo */
    border-radius: 6px; /* Bordas arredondadas */
    display: flex; /* Permite usar flexbox dentro da coluna */
    flex-direction: column; /* Para alinhar itens na coluna verticalmente */
    justify-content: space-between; /* Espaço entre os elementos */
    min-height: 100px; /* Altura mínima para garantir que as colunas sejam iguais */
    margin: 0 5px; /* Adiciona margem entre as colunas */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
    
}

/* Margem entre colunas */
.column-container > .column {
    margin-right: 0; /* Adiciona margem direita às colunas, exceto a última */
}

/* Flexibilidade do contêiner pai */
.row {
    display: flex; /* Alinha os children lado a lado */
    flex: 1; /* Garante que as rows ocupem o mesmo espaço */
    flex-direction: row; /* Alinha as colunas horizontalmente */
    flex-wrap: nowrap; /* Impede que as colunas quebrem de linha */
}

/* Responsividade para mais colunas */
@media (max-width: 768px) {
    .column {
        flex: 1 1 100%; /* Em telas menores, cada coluna ocupa 100% da largura */
    }
}

/* Estilo do conteúdo principal */
h2 {
    color: #40080b;
    text-align: center;
    text-transform: uppercase;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 300px;
    height: auto;
}

.btn {
    background-color: #be1622;
    color: white;
    margin: 30px 10px 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Fredoka', sans-serif; /* Fonte Fredoka para botões */
}

.btn:hover {
    background-color: #a1141d;
}

.logout {
    margin-top: 20px;
    display: inline-block;
}

.project-list {
    list-style-type: none;
    padding-left: 0;
}

.project-list li {
    margin-bottom: 10px;
}

.project-list a {
    color: #be1622;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.project-list a:hover {
    text-decoration: underline;
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* TÍTULOS E SUBTÍTULOS DAS PÁGINAS */
.page-title {
    text-align: center;
    color: #40080b;
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* BOTÕES */
.btn-group-modal {
    margin: 10px;
    justify-content: center;
    text-align: right;
    display: flex;
    gap: 10px;
}

.btn-close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-close-modal:hover,
.btn-close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-group {
    margin: 10px;
    text-align: right;
    display: flex;
    gap: 10px;
}

.btn-group-search {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    gap: 10px;
}

.btn-group-center { /* Grupos de Botões Centralizados */
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaço entre os botões */
    margin-top: 10px; /* Margem para separar dos campos de pesquisa */
}

.btn-new,
.btn-list,
.btn-reports,
.btn-save,
.btn-edit,
.btn-delete,
.btn-return,
.btn-confirm,
.btn-cancel,
.btn-close,
.btn-clear {
    text-decoration: none;
    display: inline-block;
    background-color: #be1622;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    position: relative;
    z-index: 1;
}

.btn-new:hover,
.btn-list:hover,
.btn-reports:hover,
.btn-save:hover,
.btn-edit:hover,
.btn-delete:hover,
.btn-return:hover,
.btn-confirm:hover,
.btn-cancel:hover,
.btn-close:hover,
.btn-clear:hover {
    background-color: #bf9d2a;
    transform: scale(1.1);
    z-index: 2;
    transform-origin: center;
}

.btn-new::before, 
.btn-list::before, 
.btn-reports::before,
.btn-save::before,
.btn-edit::before,
.btn-delete::before,
.btn-return::before,
.btn-confirm::before,
.btn-cancel::before,
.btn-close::before,
.btn-clear::before {
    font-family: 'Font Awesome 6 Free'; /* Fonte do Font Awesome */
    font-weight: 900; /* Peso necessário para ícones sólidos */
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.btn-new::before {
    content: "\2b"; /* Código do ícone (Font Awesome) para o ícone "plus" */
}

.btn-list::before {
    content: "\f002"; /* Código do ícone para "search" */
}

.btn-reports::before {
    content: "\f56c"; /* Código do ícone para "file-alt" */
}

.btn-save::before {
    content: "\f0c7"; /* Código do ícone para "save" */
}

.btn-edit::before {
    content: "\f044"; /* Código do ícone para "edit" */
}

.btn-delete::before {
    content: "\f1f8"; /* Código do ícone para "trash" */
}

.btn-return::before {
    content: "\f060"; /* Código do ícone para "arrow-left" */
}

.btn-confirm::before {
    content: "\f00c"; /* Código do ícone para "check" */
}

.btn-cancel::before {
    content: "\f05e"; /* Código do ícone para "stop" */
}

.btn-close::before {
    content: "\f00d"; /* Código do ícone para "stop" */
}

.btn-clear::before {
    content: "\f55a"; /* Código do ícone para "delete-left" */
}

.btn-first-circle,
.btn-last-circle,
.btn-previous-circle,
.btn-next-circle {
    font-family: 'Font Awesome 6 Free'; /* Fonte do Font Awesome */
    font-weight: 900; /* Peso necessário para ícones sólidos */
    text-decoration: none; /* Remove o sublinhado dos links */
    background-color: #ca555d;
    color: #ffffff; /* Cor do texto */
    padding: 8px; /* Espaçamento interno nos links */
    border-radius: 50%; /* Bordas arredondadas nos links */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    display: inline-flex; /* Usar flexbox para centralizar o ícone */
    justify-content: center; /* Centraliza o ícone horizontalmente */
    align-items: center; /* Centraliza o ícone verticalmente */
    width: 20px; /* Largura fixa */
    height: 20px; /* Altura fixa */
}

.btn-first-circle::before {
    content: "\f049";
}

.btn-last-circle::before {
    content: "\f050";
}

.btn-previous-circle::before {
    content: "\f048";
}

.btn-next-circle::before {
    content: "\f051";
}

.btn-first-circle:hover,
.btn-last-circle:hover,
.btn-previous-circle:hover,
.btn-next-circle:hover {
    background-color: #bf9d2a; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/*MODAL POP-UP */
.modal-delete,
.modal-feedback {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fundo escurecido */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 400px;
    text-align: center;
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* TABELAS */
.tb-list {
    width: 100%; /* Define a largura da tabela */
    border-collapse: collapse; /* Faz com que as bordas se unam */
    background-color: white;
    border: 1px solid #ddd;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    font-family: 'Fredoka', sans-serif;
}

.tb-list th, 
.tb-list td {
    text-align: left; /* Alinha o texto à esquerda */
    padding: 8px; /* Espaçamento interno nas células */
}

.tb-list thead {
    background-color: #800f17; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
}

.tb-list thead th {
    border-bottom: none; /* Remove a borda inferior do cabeçalho */
}

.tb-list tbody tr:nth-child(odd) {
    background-color: #e3e3e1; /* Cor de fundo para linhas ímpares */
}

.tb-list tbody tr:nth-child(even) {
    background-color: #ffffff; /* Cor de fundo para linhas pares */
}

.tb-list th a {
    color: white; /* Cor do texto dos links no cabeçalho */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.tb-list th a[data-order="ascending"]:after {
    content: '▲';
}

.tb-list th a[data-order="descending"]:after {
    content: '▼';
}

.tb-list th a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.tb-list td {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* FORMULÁRIOS DE BUSCA */
.search-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #e3e3e1;
    padding: 10px;
    border-radius: 4px;
}

.form-group-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    font-family: 'Fredoka', sans-serif;
}

.form-group-search-sub {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-group-search-sub label {
    flex-shrink: 0; /* Evita que o rótulo diminua */
    min-width: 150px; /* Largura mínima para o rótulo */
    text-align: left; /* Alinhamento à esquerda */
    font-weight: 500;
}

.select-group-search {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.select-group-search label {
    text-align: left;
    font-weight: 500;
    margin-right: 5px;
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* FORMULÁRIO E DIV DE PAGINAÇÃO DE BUSCA*/
.pagination-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.pagination-form select {
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination-search {
    display: flex; /* Usar flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px; /* Espaçamento interno */
    background-color: #40080b; /* Cor de fundo suave */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.step-links .current {
    margin: 0 10px; /* Espaçamento ao redor do texto atual */
    font-weight: bold; /* Deixa o texto atual em negrito */
    color: #ffffff; /* Cor do texto atual */
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* PÁGINA DE EDIÇÃO / ALTERAÇÃO DE REGISTROS */
.form-group-edit {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group-edit-sub {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 2px solid #40080b;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.sub-section-title {
    background-color: #40080b;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.form-group-edit-sub div {
    flex: 1 1 calc(50% - 10px); /* Cada campo com 50% de largura, mas pode quebrar se ultrapassar */
}

.form-group-edit-status {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 2px solid #3d7319;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 30%;
    box-sizing: border-box;
}

.status-section-title {
    background-color: #3d7319;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* CAMPOS DE ENTRADA */
.form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 calc(50% - 20px);
    padding: 5px;
    box-sizing: border-box;
}

.form-input label {
    color: #3d3d3d;
    margin-right: 10px;
    flex: 0 0 auto;
}

.form-input input,
.form-input select {
    flex: 1 1 auto;
    width: 100%;
}

input[type="text"],
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #a3a3a2;
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, 
select:focus {
    border-color: #800f17;
    box-shadow: 0 0 5px rgba(64, 8, 11, 0.5);
    outline: none;
}

.form-input textarea {
    height: 50px; /* Ajuste a altura conforme necessário */
    width: 100%; /* Ocupa 100% da div pai */
    border: 1px solid #a3a3a2; /* Mantendo o estilo padrão */
    border-radius: 4px;
    background-color: #ffffff;
    padding: 10px; /* Para dar algum espaço interno */
    box-sizing: border-box; /* Para garantir que o padding seja considerado na largura */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-separator {
    border: none; /* Remove a borda padrão */
    height: 1px; /* Define a altura da linha */
    background-color: #40080b; /* Define a cor da linha */
    margin: 10px 0; /* Espaçamento acima e abaixo da linha */
    width: 100%; /* Garante que a linha ocupe toda a largura */
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* PÁGINA DE VISUALIZAÇÃO DE REGISTROS */
.group-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.group-detail-sub {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 2px solid #40080b;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.group-detail-sub div {
    flex: 1 1 calc(50% - 10px); /* Cada campo com 50% de largura, mas pode quebrar se ultrapassar */
}

.group-detail-sub-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 calc(50% - 20px);
    padding: 5px;
    box-sizing: border-box;
}

.group-detail-sub-info label {
    color: #3d3d3d;
    margin-right: 10px;
    flex: 0 0 auto;
}

/* -----XXX-----XXX-----XXX-----XXX-----XXX----- */

/* RODAPÉ DO SITE */
footer {
    text-align: center;
}
