<!-- templates/instrutores/instrutor_list.html -->

{% extends "base.html" %}

{% block title %}SIGA - Lista de Instrutores{% endblock %}

{% block body_class %}body-apps-list{% endblock %}

{% block header_title %}Lista de Instrutores{% endblock %}

{% block content %}

<!-- Formulário de busca e filtro -->
 <div class="container-apps-list">
    <form method="GET" action="{% url 'instrutor_list' %}" class="apps-list-search-form">
        <div class="apps-list-form-group-search">
            <div class="apps-list-form-group-search-sub">
                <input type="checkbox" id="check-list-instrutor-nome" data-target="list-instrutor-nome">
                <label for="search-list-instrutor-nome">Nome ou ID:</label>
                <input type="text" id="list-instrutor-nome" name="q" placeholder="Busque pelo Nome ou ID do Instrutor" value="{{ request.GET.q }}" class="form-control" aria-label="Busque pelo Nome ou ID do Instrutor">
            </div>
            <div class="apps-list-form-group-search-sub">
                <input type="checkbox" id="check-list-instrutor-inativo" data-target="list-instrutor-inativo">
                <label for="search-list-instrutor-inativo">Inativo:</label>
                <select name="inativo" id="list-instrutor-inativo" class="select-search select2">
                    <option value="True" {% if request.GET.inativo == 'True' %}selected{% endif %}>Sim</option>
                    <option value="False" {% if request.GET.inativo == 'False' %}selected{% endif %}>Não</option>
                </select>
            </div> 
        </div>
        <!-- Botões de Ação -->
        <div class="apps-list-btn-group-search">
            <button type="submit" class="btn-list btn-circle btn-dark"></button>
            <a class="btn-clear btn-circle btn-yellow" href="{% url 'instrutor_list' %}"></a>
        </div>
    </form>
    <!-- Grupo de botões -->
    <div class="apps-list-btn-group">
        <a class="btn-return btn-dark" href="{% url 'instrutor_home' %}" accesskey="r">Retornar</a>
        <a class="btn-new btn-dark" href="{% url 'instrutor_new' %}" accesskey="n">Novo</a>
        <!-- <a class="btn-pdf btn-yellow" href="{% url 'exame_report_pdf' %}?{{ query_params }}">Exportar para PDF</a>
        <a class="btn-excel btn-yellow" href="{% url 'exame_report_xlsx' %}?{{ query_params }}">Exportar para Excel</a> -->
    </div>
    <!-- Seletor para escolher quantos registros exibir -->
    {% include "includes/records_per_page_selector.html" with action_url=request.path %}
    <!-- Contador de registros -->
    {% include 'includes/record_counter.html' with page_obj=page_obj %}
    <!-- Paginação da Tabela -->
    {% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
    <!-- Tabela de busca -->
    <div class="ajax-table tb-list" id="ajax-table">
        {% include 'includes/table.html' %}
    </div>
    <!-- Paginação da Tabela -->
    {% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
    <!-- Contador de registros -->
    {% include 'includes/record_counter.html' with page_obj=page_obj %}
    <!-- Grupo de botões -->
    <div class="apps-list-btn-group">
        <a class="btn-return btn-dark" href="{% url 'instrutor_home' %}">Retornar</a>
        <a class="btn-new btn-dark" href="{% url 'instrutor_new' %}">Novo</a>
    </div>
</div>

{% endblock %}
