{% extends 'base.html' %}

{% block title %}SIGA - Detalhes do Aluno{% endblock %}

{% block content %}

<h2 class="page-title">Detalhes do Aluno</h2>

<p><strong>UID:</strong> {{ aluno.uid }}</p>
<p><strong>Nome:</strong> {{ aluno.nome }}</p>
<p><strong>CPF:</strong> <span id="cpf">{{ aluno.cpf }}</span></p>
<p><strong>CEP:</strong> <span id="cep">{{ aluno.cep }}</span></p>
<p><strong>Endereço:</strong> {{ aluno.endereco }}</p>
<p><strong>Número:</strong> {{ aluno.numero|floatformat:0 }}</p> <!-- Exibe o número sem decimais -->
<p><strong>Complemento:</strong> {{ aluno.complemento }}</p>
<p><strong>Bairro:</strong> {{ aluno.bairro }}</p>
<p><strong>Cidade:</strong> {{ aluno.cidade }}</p>
<p><strong>Observação:</strong> {{ aluno.observacao }}</p>
<p><strong>Status:</strong> {{ aluno.inativo|yesno:"Inativo,Ativo" }}</p>

<!-- Seção de Contatos -->
<h3>Contatos</h3>

{% if contatos %}
    <table>
        <thead>
            <tr>
                <th>Tipo de Contato</th>
                <th>Contato</th>
                <th>Detalhe</th>
            </tr>
        </thead>
        <tbody>
            {% for contato in contatos %}
                <tr>
                    <td>{{ contato.tipo_contato }}</td>
                    <td>
                        {% if contato.tipo_contato == 'Telefone' or contato.tipo_contato == 'Celular' %}
                            <span class="telefone">{{ contato.contato }}</span>
                        {% else %}
                            {{ contato.contato }}
                        {% endif %}
                    </td>
                    <td>{{ contato.detalhe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Este aluno não possui contatos cadastrados.</p>
{% endif %}

<!-- Botões de ação -->
<div class="btn-group">
    <a class="btn" href="{% url 'aluno_update' aluno.pk %}">Editar</a>
    <a class="btn" href="{% url 'aluno_delete' aluno.pk %}">Excluir</a>
    <a class="btn" href="{% url 'aluno_list' %}">Voltar para a lista</a>
</div>

{% endblock %}
