<!-- templates/centroProva/centroProva_home.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Alunos{% endblock %}

{% block content %}

<h2 class="page-title">Gestão de Alunos</h2>
<div class="column-container">
    <div class="column">
        <h3 class="page-subtitle">Alunos</h3>
        <div class="btn-group-center">
            <a href="{% url 'aluno_new' %}" class="btn-new" aria-label="Criar Novo Aluno">Novo</a>
            <a href="{% url 'aluno_list' %}" class="btn-list" aria-label="Localizar Aluno">Localizar</a>
        </div>
    </div>
</div>

{% endblock %}
