<!-- templates/alunos/aluno_form.html -->

{% extends 'base.html' %}

{% block title %}{{ form.instance.pk|yesno:"Editar Aluno,Adicionar Aluno" }}{% endblock %}

{% block content %}
<h2 class="page-title">{{ form.instance.pk|yesno:"Editar Aluno,Adicionar Aluno" }}</h2>

<form method="post" class="edit-form">
    {% csrf_token %}
    <div class="form-group-edit">
        <div class="form-group-edit-sub">
            <h4 class="sub-section-title">Dados Cadastrais</h4>
            <div class="form-input">
                <label for="id_nome"><strong>Nome: </strong></label>
                {{ form.nome }}
            </div>
            <div class="form-input">
                <label for="id_cpf"><strong>CPF: </strong></label>
                {{ form.cpf }}
            </div>
        </div>

        <div class="form-group-edit-sub">
            <h4 class="sub-section-title">Endereço</h4>
            <div class="form-input">
                <label for="id_cep"><strong>CEP: </strong></label>
                {{ form.cep }}
            </div>
            <div class="form-input">
                <label for="id_logradouro"><strong>Logradouro: </strong></label>
                {{ form.endereco }}
            </div>
            <div class="form-input">
                <label for="id_numero"><strong>Nº: </strong></label>
                {{ form.numero }}
            </div>
            <div class="form-input">
                <label for="id_complemento"><strong>Complemento: </strong></label>
                {{ form.complemento }}
            </div>
            <div class="form-input">
                <label for="id_bairro"><strong>Bairro: </strong></label>
                {{ form.bairro }}
            </div>
            <div class="form-input">
                <label for="id_cidade"><strong>Cidade / UF: </strong></label>
                <select name="cidade" id="select-cidade" class="select-edit">
                    <option value="">Selecionar cidade</option>
                    {% for cidade in cidades %}
                    <option value="{{ cidade.id }}" {% if form.cidade.value == cidade.id %}selected{% endif %}>
                        {{ cidade.nome }} - {{ cidade.estado.uf }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Contatos -->
        <div class="form-group-edit-sub">
            <h4 class="sub-section-title">Contatos</h4>
            {{ formset.management_form }}
            <table class="tb-list">
                <thead>
                    <tr>
                        <th>Tipo de Contato</th>
                        <th>Contato</th>
                        <th>Detalhe</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        <tr>
                            <td>
                                {{ form.tipoContato }}
                            </td>
                            <td>
                                {{ form.contato }}
                            </td>
                            <td>
                                <input type="text" name="{{ form.detalhe.name }}" id="{{ form.detalhe.id_for_label }}" value="{{ form.detalhe.value }}" class="input-detalhe">
                            </td>
                            <td>
                                <input type="hidden" name="{{ form.DELETE.name }}" id="{{ form.DELETE.id_for_label }}" value="0">
                                <button type="button" class="btn-delete" onclick="this.previousElementSibling.value='1'; this.closest('tr').style.display='none';">Excluir</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Grupo de botões (Salvar e Retornar) -->
    <div class="btn-group">
        <button class="btn-save" type="submit">Salvar Aluno</button>
        <a class="btn-return" href="{% url 'aluno_home' %}">Retornar</a>
    </div>
</form>

{% endblock %}
