<!-- templates/certificacao/certificador_list.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Certificador{% endblock %}

{% block content %}

<h2 class="page-title">Lista de Certificadores</h2>
<!-- Formulário de busca e filtro -->
<form method="GET" action="{% url 'certificador_list' %}" class="search-form">
    <div class="form-group-search">
        <input type="text" name="q" placeholder="Buscar por nome" value="{{ request.GET.q }}" class="form-control" aria-label="Buscar por nome">
        <div class="checkbox-group-search">
            <input type="checkbox" name="inativo" value="True" {% if request.GET.inativo %}checked{% endif %}>
            <label>Mostrar somente inativos</label>
        </div>
    </div>
    <!-- Botões de Ação -->
    <div class="btn-group-search">
        <button type="submit" class="btn-list">Buscar</button>
        <a class="btn-clear" href="{% url 'certificador_list' %}">Limpar Busca</a>
    </div>
</form>
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'certificacao_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'certificador_new' %}">Novo</a>
</div>
<!-- Seletor para escolher quantos registros exibir -->
<form method="GET" action="{% url 'certificador_list' %}" class="pagination-form">
    <label for="records_per_page">Registros para exibir:</label>
    <select name="records_per_page" id="records_per_page" onchange="this.form.submit()">
        <option value="10" {% if request.GET.records_per_page == "10" %}selected{% endif %}>10</option>
        <option value="20" {% if request.GET.records_per_page == "20" %}selected{% endif %}>20</option>
        <option value="50" {% if request.GET.records_per_page == "50" %}selected{% endif %}>50</option>
        <option value="100" {% if request.GET.records_per_page == "100" %}selected{% endif %}>100</option>
        <option value="500" {% if request.GET.records_per_page == "500" %}selected{% endif %}>500</option>
        <option value="1000" {% if request.GET.records_per_page == "1000" %}selected{% endif %}>1000</option>
    </select>
</form>
<!-- Paginação da Tabela -->
<div class="pagination-search">
    <span class="step-links">
        {% if certificador.has_previous %}
            <a class="btn-first-circle" href="?page=1&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Primeira Página"></a>
            <a class="btn-previous-circle" href="?page={{ certificador.previous_page_number }}&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Página Anterior"></a>
        {% endif %}

        <span class="current">
            Página {{ certificador.number }} de {{ certificador.paginator.num_pages }}.
        </span>

        {% if certificador.has_next %}
            <a class="btn-next-circle" href="?page={{ certificador.next_page_number }}&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Próxima Página"></a>
            <a class="btn-last-circle" href="?page={{ certificador.paginator.num_pages }}&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Última Página"></a>
        {% endif %}
    </span>
</div>
<!-- Tabela de busca -->
<table class="tb-list" id="tb-list-certificador">
    <thead>
        <tr>
            <th>
                <a href="?order_by=id&descending={% if request.GET.order_by == 'id' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    ID {% if request.GET.order_by == 'id' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=descricao&descending={% if request.GET.order_by == 'descricao' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    Nome {% if request.GET.order_by == 'descricao' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=siglaCertificador&descending={% if request.GET.order_by == 'siglaCertificador' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    Sigla {% if request.GET.order_by == 'siglaCertificador' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>Inativo</th>
        </tr>
    </thead>
    <tbody>
        {% for certificador in certificador %}
        <tr>
            <td>{{ certificador.id }}</td>
            <td><a href="{% url 'certificador_detail' certificador.pk %}">{{ certificador.descricao }}</a></td>
            <td>{{ certificador.siglaCertificador }}</td>
            <td>{{ certificador.inativo|yesno:"Sim,Não" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Paginação da Tabela -->
<div class="pagination-search">
    <span class="step-links">
        {% if certificador.has_previous %}
            <a class="btn-first-circle" href="?page=1&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Primeira Página"></a>
            <a class="btn-previous-circle" href="?page={{ certificador.previous_page_number }}&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Página Anterior"></a>
        {% endif %}

        <span class="current">
            Página {{ certificador.number }} de {{ certificador.paginator.num_pages }}.
        </span>

        {% if certificador.has_next %}
            <a class="btn-next-circle" href="?page={{ certificador.next_page_number }}&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Próxima Página"></a>
            <a class="btn-last-circle" href="?page={{ certificador.paginator.num_pages }}&records_per_page={{ request.GET.records_per_page }}&q={{ request.GET.q }}&cidade={{ request.GET.cidade }}&inativo={{ request.GET.inativo }}" title="Última Página"></a>
        {% endif %}
    </span>
</div>
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'certificacao_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'certificador_new' %}">Novo</a>
</div>

{% endblock %}
