<!-- templates/certificacao/certificacao_detail.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Detalhes da Certificação{% endblock %}

{% block content %}

<h2 class="page-title">Detalhes da Certificação</h2>

<div class="group-detail">
    <div class="group-detail-status">
        <h6 class="status-section-title">Status da Certificação</h6>
        <div class="group-detail-status-sub">
            <p class="p-detail">
                <span class="value-detail">{{ certificacao.inativo|yesno:"Inativo,Ativo" }}</span>
            </p>
        </div>
    </div>
    <div class="group-detail-sub">
        <p class="p-detail">
            <span class="label-detail">ID: </span>
            <span class="value-detail">{{ certificacao.id }}</span>
        </p>
        <p class="p-detail">
            <span class="label-detail">Nome: </span>
            <span class="value-detail">{{ certificacao.descricao }}</span>
        </p>
        <p class="p-detail">
            <span class="label-detail">Certificador: </span>
            <span class="value-detail">{{ certificacao.idCertificador.descricao }}</span>
        </p>
        <p class="p-detail">
            <span class="label-detail">Sigla do Exame: </span>
            <span class="value-detail">{{ certificacao.siglaExame }}</span>
        </p>
        <p class="p-detail">
            <span class="label-detail">Duração do Exame (em minutos): </span>
            <span class="value-detail">{{ certificacao.duracao }}</span>
        </p>
        <p class="p-detail">
            <span class="label-detail">Observações: </span>
            <span class="value-detail">{{ certificacao.observacao }}</span>
        </p>
    </div>
</div>

<!-- Grupo de botões (Editar, Excluir e Retornar) -->
<div class="btn-group">
    <a class="btn-edit" href="{% url 'certificacao_edit' certificacao.pk %}">Editar</a>
    <a class="btn-delete" id="btn-delete" data-model="certificacao" data-pk="{{ certificacao.pk }}" href="#">Excluir</a>
    <a class="btn-return" href="{% url 'certificacao_list' %}">Retornar</a>
</div>

<!-- Modal Pop-up -->
{% include 'includes/modals.html' %}

{% endblock %}
