<!-- templates/certificacao/certificacao_detail.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Detalhes do Certificador{% endblock %}

{% block content %}

<h2 class="page-title">Detalhes do Certificador</h2>

<div class="group-detail">
    <div class="group-detail-status">
        <h6 class="status-section-title">Status do Certificador</h6>
        <div class="group-detail-status-sub">
            <p class="p-detail">
                <span class="value-detail">{{ certificador.inativo|yesno:"Inativo,Ativo" }}</span>
            </p>
        </div>
    </div>
    <div class="group-detail-sub">
        <p class="p-detail">
            <span class="label-detail">ID: </span>
            <span class="value-detail">{{ certificador.id }}</span>
        </p>
        <p class="p-detail">
            <span class="label-detail">Sigla: </span>
            <span class="value-detail">{{ certificador.siglaCertificador }}</span>
        </p>
        <p class="p-detail">
            <span class="label-detail">Nome: </span>
            <span class="value-detail">{{ certificador.descricao }}</span>
        </p>
    </div>
</div>

<!-- Grupo de botões (Editar, Excluir e Retornar) -->
<div class="btn-group">
    <a class="btn-edit" href="{% url 'certificador_edit' certificador.pk %}">Editar</a>
    <a class="btn-delete" data-pk="{{ certificador.pk }}" data-model="Certificador" href="#">Excluir</a>
    <a class="btn-return" href="{% url 'certificador_list' %}">Retornar</a>
</div>

<!-- Modal Pop-up -->
{% include 'includes/modals.html' %}

{% endblock %}
