<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SIGA - Sistema Integrado de Gestão Administrativa{% endblock %}</title>
    {% load static %}
    <!-- Fontes e estilos CSS -->
    {% include 'css_includes.html' %}
    <!-- Meta tags de segurança -->
    {% include 'csp_policy.html' %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <!-- Cabeçalho Comum -->
    <header>
        <!-- Imagem centralizada -->
        <div class="logo-container-home">
            <img src="{% static 'images/logo-siga-horizontal-negativo-preto.png' %}" alt="Logo SIGA" class="logo">
        </div>
        <h2 class="page-title">{% block header_title %}SIGA - Sistema Integrado de Gestão Administrativa{% endblock %}</h2>
    </header>
    
    <!-- Área exclusiva para conteúdo específico de cada página -->
    {% block content %}
    <!-- Aqui vai o conteúdo específico de cada página -->
    {% endblock %}
    
    <!-- Rodapé Comum -->
    <footer>
        <p>&copy; 2025 SIGA - Sistema Integrado de Gestão Administrativa</p>
    </footer>
    <!-- Scripts -->
    {% include 'js_includes.html' %}
</body>
{% csrf_token %}
</html>
