<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Sistema Integrado de Gestão Administrativa{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}
<h2 class="page-title">SIGA - Sistema Integrado de Gestão Administrativa</h2>

<div class="container-home">
    {% if request.user.is_authenticated %}
        <p>Você está logado como <strong>{{ request.user.username }}</strong>.</p>

        <!-- Lista de aplicativos -->
        <div class="app-grid">
            <div class="app-item">
                <a href="/clientes">
                    <i class="fa fa-star"></i>
                    <p>Clientes</p>
                </a>
            </div>
            <div class="app-item">
                <a href="/certificacao">
                    <i class="fa fa-trophy"></i>
                    <p>Certificações</p>
                </a>
            </div>
            <div class="app-item">
                <a href="/curso">
                    <i class="fa fa-graduation-cap"></i>
                    <p>Cursos</p>
                </a>
            </div>
            <div class="app-item">
                <a href="/centroProva">
                    <i class="fa fa-clipboard-check"></i>
                    <p>Centro de Provas</p>
                </a>
            </div>
            <!-- Adicione mais aplicativos conforme necessário -->
        </div>

        <!-- Formulário de logout -->
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-exit">Logout</button>
        </form>
    {% else %}
        <p>Você não está autenticado. <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
</div>

{% endblock %}
