<!-- templates/home.html -->

{% extends "base.html" %}

{% block title %}SIGA - Sistema Integrado de Gestão Administrativa{% endblock %}

{% block body_class %}body-home{% endblock %}

{% block header_title %}SIGA - Sistema Integrado de Gestão Administrativa{% endblock %}

{% block content %}
    <div class="container-home">
        {% if request.user.is_authenticated %}
            <p>Seja bem-vindo (a) ao SIGA.</p>

            <!-- Lista de aplicativos -->
            <div class="app-grid">
                <a href="/clientes" class="app-item">
                    <i class="fa fa-star"></i>
                    <p>Clientes</p>
                </a>
                <a href="/certificacao" class="app-item">
                    <i class="fa fa-trophy"></i>
                    <p>Certificações</p>
                </a>
                <a href="/curso" class="app-item">
                    <i class="fa fa-graduation-cap"></i>
                    <p>Cursos</p>
                </a>
                <a href="/centroProva" class="app-item">
                    <i class="fa fa-clipboard-check"></i>
                    <p>Centro de Provas</p>
                </a>
                <!-- Adicione mais aplicativos a partir desta linha -->
            </div>

            <p>Você está logado como <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>.</p>
            <!-- Formulário de logout -->
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn-exit btn-yellow">Logout</button>
            </form>
        {% else %}
            <p>Você não está autenticado. <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
{% endblock %}