<!-- templates/js_includes.html -->
{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'daterangepicker/js/daterangepicker.js' %}"></script>
<script src="{% static 'select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script src="{% static 'js/ajax_table.js' %}"></script>
<script src="{% static 'js/cep.js' %}"></script>
<script src="{% static 'js/checkbox-toggle.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/hamburger-menu.js' %}"></script>
