/* PÁGINA DE RECUPERAÇÃO DE SENHA */
.password-reset-page, .password-reset-done-page, .password-reset-confirm-page, .password-reset-complete-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.password-reset-container, .password-reset-done-container, .password-reset-confirm-container, .password-reset-complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.password-reset-box, .password-reset-done-box, .password-reset-confirm-box, .password-reset-complete-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
}

.password-reset-form-group, .password-reset-done-form-group, .password-reset-confirm-form-group, .password-reset-complete-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.password-reset-form-group label, .password-reset-done-form-group label, .password-reset-confirm-form-group label, .password-reset-complete-form-group label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.password-reset-form-group input, .password-reset-done-form-group input, .password-reset-confirm-form-group input, .password-reset-complete-form-group input {
    width: 100% !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.password-reset-image, .password-reset-done-image, .password-reset-confirm-image, .password-reset-complete-image {
    margin-top: 20px;
    margin-bottom: 10px;
}

.password-reset-image img, .password-reset-done-image img, .password-reset-confirm-image img, .password-reset-complete-image img {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .password-reset-box, .password-reset-done-box, .password-reset-confirm-box, .password-reset-complete-box {
        padding: 20px;
        max-width: 90%;
    }

    .password-reset-form-group input, .password-reset-done-form-group input, .password-reset-confirm-form-group input, .password-reset-complete-form-group input {
        padding: 8px;
    }

    .password-reset-image img, .password-reset-done-image img, .password-reset-confirm-image img, .password-reset-complete-image img {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .password-reset-box, .password-reset-done-box, .password-reset-confirm-box, .password-reset-complete-box {
        padding: 10px;
        max-width: 100%;
    }

    .password-reset-form-group input, .password-reset-done-form-group input, .password-reset-confirm-form-group input, .password-reset-complete-form-group input {
        padding: 6px;
    }

    .password-reset-image img, .password-reset-done-image img, .password-reset-confirm-image img, .password-reset-complete-image img {
        max-width: 250px;
    }
}