<!-- templates/empresas/empresa_home.html -->

{% extends "base.html" %}

{% block title %}SIGA - Gestão de Empresas{% endblock %}

{% block body_class %}body-apps-home{% endblock %}

{% block header_title %}Gestão de Empresas{% endblock %}

{% block content %}

<div class="container-home-apps">
    <div class="column-home-apps">
        <h3 class="home-apps-subtitle">Empresas</h3>
        <div class="btn-group-home-apps">
            <a href="{% url 'empresa_new' %}" class="btn-new btn-transparent" aria-label="Criar Nova Empresa">Novo</a>
            <a href="{% url 'empresa_list' %}" class="btn-list btn-transparent" aria-label="Localizar Empresa">Localizar</a>
        </div>
    </div>
</div>

{% endblock %}
