<!-- templates/centroProva/centroProva-exame_form.html -->

{% extends "base.html" %}

{% block title %}{{ form.instance.pk|yesno:"Editar Exame Realizado no Centro de Provas,Adicionar Exame Realizado no Centro de Provas" }}{% endblock %}

{% block body_class %}body-apps-form{% endblock %}

{% block header_title %}{{ form.instance.pk|yesno:"Editar Exame Realizado no Centro de Provas,Adicionar Exame Realizado no Centro de Provas" }}{% endblock %}

{% block content %}

    {% include "includes/apps_form.html" %}

{% endblock %}
