<!-- templates/turmas/turma_form.html -->

{% extends "base.html" %}

{% block title %}{{ form.instance.pk|yesno:"Editar Turma,Adicionar Turma" }}{% endblock %}

{% block body_class %}body-apps-form{% endblock %}

{% block header_title %}{{ form.instance.pk|yesno:"Editar Turma,Adicionar Turma" }}{% endblock %}

{% block content %}

<div class="container-apps-form">
    <form method="post" class="apps-form-edit">
        {% csrf_token %}
        <div class="apps-form-group-edit">
            {% if form.instance.pk %}
            <div class="apps-form-group-edit-status">
                <h4 class="apps-form-status-section-title">Status da Turma</h4>
                <div class="apps-form-input">
                    {{ form.inativo.label_tag }}
                    {{ form.inativo }}
                </div>
            </div>
            {% endif %}
            <div class="apps-form-group-edit-sub">
                <h4 class="apps-form-sub-section-title">Detalhes do Curso desta Turma</h4>
                <div class="apps-form-input">
                    {{ form.curso.label_tag }}
                    {{ form.curso }}
                </div>
                <div class="apps-form-input">
                    {{ form.versaoCurso.label_tag }}
                    {{ form.versaoCurso }}
                </div>
            </div>
            <div class="apps-form-group-edit-sub">
                <h4 class="apps-form-sub-section-title">Detalhes da Turma</h4>
                <div class="apps-form-input">
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                </div>
                <div class="apps-form-input">
                    {{ form.inicioCurso.label_tag }}
                    {{ form.inicioCurso }}
                </div>
                <div class="apps-form-input">
                    {{ form.terminoCurso.label_tag }}
                    {{ form.terminoCurso }}
                </div>
                <div class="apps-form-input">
                    {{ form.datasCurso.label_tag }}
                    {{ form.datasCurso }}
                </div>
                <div class="apps-form-input">
                    {{ form.tipo.label_tag }}
                    {{ form.tipo }}
                </div>
                <div class="apps-form-input">
                    {{ form.empresa.label_tag }}
                    {{ form.empresa }}
                </div>
                <div class="apps-form-input">
                    {{ form.local.label_tag }}
                    {{ form.local }}
                </div>
                <div class="apps-form-input">
                    {{ form.enturmacao.label_tag }}
                    {{ form.enturmacao }}
                </div>
                <div class="apps-form-input">
                    {{ form.plataforma.label_tag }}
                    {{ form.plataforma }}
                </div>
                <div class="apps-form-input">
                    {{ form.material.label_tag }}
                    {{ form.material }}
                </div>
                <div class="apps-form-input">
                    {{ form.certificado.label_tag }}
                    {{ form.certificado }}
                </div>
                <div class="apps-form-input">
                    {{ form.observacao.label_tag }}
                    {{ form.observacao }}
                </div>
            </div>
        </div>
        <!-- Grupo de botões (Salvar e Retornar) -->
        <div class="apps-form-btn-group">
            <button class="btn-save btn-dark" type="submit" accesskey="s">Salvar</button>
            <a class="btn-return btn-yellow" href="{% url 'turma_list' %}" accesskey="r">Retornar</a>
        </div>
    </form>
</div>

{% endblock %}
