<!-- templates/centroProva/centroProva_list.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Centro de Provas{% endblock %}

{% block content %}

<h2 class="page-title">Lista de Centros de Provas</h2>
<!-- Formulário de busca e filtro -->
<form method="GET" action="{% url 'centroProva_list' %}" class="search-form">
    <div class="form-group-search">
        <input type="text" name="q" placeholder="Buscar por nome" value="{{ request.GET.q }}" class="form-control" aria-label="Buscar por nome">
        <div class="checkbox-group-search">
            <input type="checkbox" name="inativo" value="True" {% if request.GET.inativo %}checked{% endif %}>
            <label>Mostrar somente inativos</label>
        </div>
    </div>
    <!-- Botões de Ação -->
    <div class="btn-group-search">
        <button type="submit" class="btn-list">Buscar</button>
        <a class="btn-clear" href="{% url 'centroProva_list' %}">Limpar Busca</a>
    </div>
</form>
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'centroProva_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'centroProva_new' %}">Novo</a>
</div>
<!-- Tabela de busca -->
<table class="tb-list" id="tb-list-centroProva">
    <thead>
        <tr>
            <th>
                <a href="?order_by=id&descending={% if request.GET.order_by == 'id' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    ID {% if request.GET.order_by == 'id' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=nome&descending={% if request.GET.order_by == 'nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    Nome {% if request.GET.order_by == 'nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>Inativo</th>
        </tr>
    </thead>
    <tbody>
        {% for centro in centroProva %}
        <tr>
            <td>{{ centro.id }}</td>
            <td><a href="{% url 'centroProva_detail' centro.pk %}">{{ centro.nome }}</a></td>
            <td>{{ centro.inativo|yesno:"Inativo,Ativo" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum centro de prova encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'centroProva_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'centroProva_new' %}">Novo</a>
</div>

{% endblock %}
