<!-- templates/centroProva/centroProva_home.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Centro de Provas{% endblock %}

{% block content %}

<h2 class="page-title">Gestão do Centro de Provas</h2>
<div class="column-container">
    <div class="column">
        <h3 class="page-subtitle">Centro de Provas</h3>
        <div class="btn-group-center">
            <a href="{% url 'centroprova_new' %}" class="btn-new" aria-label="Criar novo centro de provas">Novo</a>
            <a href="{% url 'centroprova_list' %}" class="btn-list" aria-label="Localizar centro de provas">Localizar</a>
        </div>
    </div>
    <div class="column">
        <h3 class="page-subtitle">Exames Realizados</h3>
        <div class="btn-group-center">
            <a href="{% url 'exame_new' %}" class="btn-new" aria-label="Criar Novo Exame Realizado no Centro de Provas">Novo</a>
            <a href="{% url 'exame_list' %}" class="btn-list" aria-label="Localizar Exame Realizado no Centro de Provas">Localizar</a>
        </div>
    </div>
</div>
<div class="column-container">
    <div class="column">
        <h3 class="page-subtitle">Certificadores</h3>
        <div class="btn-group-center">
            <a href="{% url 'certificador_new' %}" class="btn-new" aria-label="Criar Novo Certificador">Novo</a>
            <a href="{% url 'certificador_list' %}" class="btn-list" aria-label="Localizar Certificador">Localizar</a>
        </div>
    </div>
    <div class="column">
        <h3 class="page-subtitle">Certificações</h3>
        <div class="btn-group-center">
            <a href="{% url 'certificacao_new' %}" class="btn-new" aria-label="Criar Nova Certificação">Novo</a>
            <a href="{% url 'certificacao_list' %}" class="btn-list" aria-label="Localizar Certificação">Localizar</a>
        </div>
    </div>
</div>

{% endblock %}
