<!-- templates/centroProva/centroProva_detail.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Detalhes do Centro de Provas{% endblock %}

{% block content %}

<h2 class="page-title">Detalhes do Centro de Provas</h2>

<p><strong>ID:</strong> {{ centroProva.id }}</p>
<p><strong>Nome:</strong> {{ centroProva.nome }}</p>
<p><strong>Inativo:</strong> {{ centroProva.inativo }}</p>
<!-- Grupo de botões (Editar, Excluir e Retornar) -->
<div class="btn-group">
    <a class="btn-edit" href="{% url 'centroProva_edit' centroProva.pk %}">Editar</a>
    <a class="btn-delete" id="btn-delete" data-pk="{{ centroProva.pk }}" href="#">Excluir</a>
    <a class="btn-return" href="{% url 'centroProva_list' %}">Retornar</a>
</div>

<!-- Modal de Confirmação -->
<div class="modal-delete" style="display:none;">
    <div class="modal-content">
        <span class="btn-close-modal">&times;</span>
        <h2>Confirmar Exclusão</h2>
        <p>Tem certeza que deseja excluir o Centro de Provas <strong>{{ centroProva.nome }}</strong>?</p>
        <div class="btn-group-modal">
            <button type="button" class="btn-confirm">Confirmar</button>
            <button type="button" class="btn-cancel">Cancelar</button>
        </div>
    </div>
</div>

<!-- Modal de feedback de sucesso/erro -->
<div class="modal-feedback" style="display:none;">
    <div class="modal-content">
        <div class="modal-feedback-message"></div>
        <div class="countdown-message" style="margin-top: 10px;"></div>
    </div>
</div>

{% endblock %}
