<h1>Centro de Provas</h1>
<ul>
    <li><a href="{% url 'centro_prova_novo' %}">Novo Centro de Prova</a></li>
    <li><a href="{% url 'centro_prova_localizar' %}">Localizar Centro de Prova</a></li>
    <li><a href="{% url 'centro_prova_relatorios' %}">Relatórios de Centro de Prova</a></li>
</ul>

<h1>Exames Realizados</h1>
<ul>
    <li><a href="{% url 'exame_novo' %}">Novo Exame</a></li>
    <li><a href="{% url 'exame_localizar' %}">Localizar Exames</a></li>
    <li><a href="{% url 'exame_relatorios' %}">Relatórios de Exames</a></li>
</ul>
