<!-- templates/centroProva/centroProva-exame_form.html -->

{% extends 'base.html' %}

{% block title %}{{ form.instance.pk|yesno:"Editar Exame Realizado no Centro de Provas,Adicionar Exame Realizado no Centro de Provas" }}{% endblock %}

{% block content %}

<h2 class="page-title">{{ form.instance.pk|yesno:"Editar Exame Realizado no Centro de Provas,Adicionar Exame Realizado no Centro de Provas" }}</h2>

<form method="post" class="edit-form">
    {% csrf_token %}
    <div class="form-group-edit">
        <div class="form-group-edit-sub">
            <h4 class="sub-section-title">Detalhes do Exame</h4>
            <div class="form-input">
                <label for="id_data">Data do Exame: </label>
                <input type="datetime-local" name="data" id="edit-select-dataExame" 
                       value="{{ form.data.value|date:'Y-m-d H:i' }}">
            </div>
            <div class="form-input">
                <label for="id_centroProva">Centro de Provas: </label>
                <select name="centroProva" id="edit-select-centroProva" class="select-edit select2">
                    <option value="">Selecionar Centro de Provas</option>
                    {% for centroprova in centrosprovas %}
                    <option value="{{ centroprova.id }}" {% if form.centroprova.value == centroprova.id %}selected{% endif %}>
                        {{ centroprova.nome }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-input">
                <label for="id_certificacao">Certificação: </label>
                <select name="certificacao" id="edit-select-certificacao" class="select-edit select2">
                    <option value="">Selecionar Certificação</option>
                    {% for certificacao in certificacoes %}
                    <option value="{{ certificacao.id }}" {% if form.certificacao.value == certificacao.id %}selected{% endif %}>
                        {{ certificacao.descricao }} ({{ certificacao.siglaExame }})
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-input">
                <label for="id_aluno">Aluno: </label>
                <select name="aluno" id="edit-select-aluno" class="select-edit select2">
                    <option value="">Selecionar Aluno</option>
                    {% for aluno in alunos %}
                    <option value="{{ aluno.uid }}" {% if form.aluno.value == aluno.uid %}selected{% endif %}>
                        {{ aluno.uid }} - {{ aluno.nome }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-input">
                <label for="id_presenca">O Aluno estava Presente?</label>
                <select name="presenca" id="edit-select-presenca" class="select-edit select2">
                    <option value="True" {% if form.presenca.value %}selected{% endif %}>Sim</option>
                    <option value="False" {% if not form.presenca.value %}selected{% endif %}>Não</option>
                </select>
            </div>
            <div class="form-input">
                <label for="id_cancelado">O Exame foi Cancelado?</label>
                <select name="cancelado" id="edit-select-cancelado" class="select-edit select2">
                    <option value="True" {% if form.cancelado.value %}selected{% endif %}>Sim</option>
                    <option value="False" {% if not form.cancelado.value %}selected{% endif %}>Não</option>
                </select>
            </div>
            <div class="form-input">
                <label for="id_observacao">Observações: </label>
                {{ form.observacao }}
            </div>
        </div>
    </div>
    <!-- Grupo de botões (Salvar e Retornar) -->
    <div class="btn-group">
        <button class="btn-save" type="submit">Salvar Exame</button>
        <a class="btn-return" href="{% url 'exame_list' %}">Retornar</a>
    </div>
</form>

{% endblock %}
