<!-- templates/centroProva/centroProva_detail.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Detalhes do Centro de Provas{% endblock %}

{% block content %}

<h2 class="page-title">Detalhes do Centro de Provas</h2>

<div class="group-detail">
    <div class="group-detail-sub">
        <table class="tb-detail">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Inativo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ centroprova.id }}</td>
                    <td>{{ centroprova.nome }}</td>
                    <td>{{ centroprova.inativo|yesno:"Sim,Não" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Grupo de botões (Editar, Excluir e Retornar) -->
<div class="btn-group">
    <a class="btn-edit" href="{% url 'centroprova_edit' centroprova.pk %}">Editar</a>
    <a class="btn-delete" id="btn-delete" data-model="centroprova" data-pk="{{ centroprova.pk }}" href="#">Excluir</a>
    <a class="btn-return" href="{% url 'centroprova_list' %}">Retornar</a>
</div>

<!-- Modal Pop-up -->
{% include 'includes/modals.html' %}

{% endblock %}
