<!-- templates/centroProva/centroProva_list.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Lista de Centro de Provas{% endblock %}

{% block content %}

<h2 class="page-title">Lista de Centros de Provas</h2>
<!-- Formulário de busca e filtro -->
<form method="GET" action="{% url 'centroProva_list' %}" class="search-form">
    <div class="form-group-search">
        <div class="form-group-search-sub">
            <input type="checkbox" id="check-list-centroProva-nome" data-target="list-centroProva-nome">
            <label for="search-list-centroProva-nome">ID ou Nome:</label>
            <input type="text" id="list-centroProva-nome" name="q" placeholder="Busque por ID ou Nome do Centro de Provas" value="{{ request.GET.q }}" class="form-control" aria-label="Busque por ID ou Nome do Centro de Provas">
        </div>
        <div class="select-group-search">
            <input type="checkbox" id="check-list-centroProva-inativo" data-target="list-centroProva-inativo">
            <label for="search-list-centroProva-inativo">Inativo:</label>
            <select name="inativo" id="list-centroProva-inativo" class="select-search select2">
                <option value="True" {% if request.GET.inativo == 'True' %}selected{% endif %}>Sim</option>
                <option value="False" {% if request.GET.inativo == 'False' %}selected{% endif %}>Não</option>
            </select>
        </div>
    </div>
    <!-- Botões de Ação -->
    <div class="btn-group-search">
        <button type="submit" class="btn-list">Buscar</button>
        <a class="btn-clear" href="{% url 'centroProva_list' %}">Limpar Busca</a>
    </div>
</form>
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'centroProva_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'centroProva_new' %}">Novo</a>
</div>
<!-- Seletor para escolher quantos registros exibir -->
{% include "includes/records_per_page_selector.html" with action_url=request.path %}
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Tabela de busca -->
<table class="tb-list" id="tb-list-centroProva">
    <thead>
        <tr>
            <th>
                <a href="?order_by=id&descending={% if request.GET.order_by == 'id' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    ID {% if request.GET.order_by == 'id' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=nome&descending={% if request.GET.order_by == 'nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&inativo={{ request.GET.inativo }}">
                    Nome {% if request.GET.order_by == 'nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>Inativo</th>
        </tr>
    </thead>
    <tbody>
        {% for centro in page_obj %}
        <tr>
            <td>{{ centro.id }}</td>
            <td><a href="{% url 'centroProva_detail' centro.pk %}">{{ centro.nome }}</a></td>
            <td>{{ centro.inativo|yesno:"Sim,Não" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum centro de prova encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'centroProva_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'centroProva_new' %}">Novo</a>
</div>

{% endblock %}
