<!-- templates/centroProva/centroProva-exame_list.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Exames Realizados no Centro de Provas{% endblock %}

{% block content %}

<h2 class="page-title">Exames Realizados no Centro de Provas</h2>
<!-- Formulário de busca e filtro -->
<form method="GET" action="{% url 'exame_list' %}" class="search-form">
    <div class="form-group-search">
        <div class="form-group-search-sub">
            <input type="checkbox" id="enable-list-aluno" onchange="toggleField('search-aluno')">
            <label for="search-aluno">UID ou Nome do Aluno:</label>
            <input type="text" id="list-aluno" name="q" placeholder="Busque por UID ou Nome do Aluno" value="{{ request.GET.q }}" class="form-control" aria-label="Busque por UID ou Nome do Aluno">
        </div>
        <div class="form-group-search-sub">
            <input type="checkbox" id="enable-list-daterange" onchange="toggleField('daterange')">
            <label for="search-daterange">Período de realização:</label>
            <input type="text" id="list-daterange" name="daterange" class="form-control" placeholder="Selecione o período" value="">
        </div>
        <div class="form-group-search-sub">
            <input type="checkbox" id="enable-list-centroProva" onchange="toggleField('select-centroProva')">
            <label for="search-centroProva">Centro de Provas:</label>
            <select name="centroProva" id="list-select-centroProva" class="select-search">
                <option value="">Selecione o Centro de Provas</option>
                {% for centroProva in centroProva %}
                <option value="{{ centroProva.id }}" {% if request.GET.centroProva == centroProva.id %}selected{% endif %}>
                    {{ centroProva.nome }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group-search-sub">
            <input type="checkbox" id="enable-list-certificacao" onchange="toggleField('select-certificacao')">
            <label for="search-certificacao">Certificação:</label>
            <select name="certificacao" id="list-select-certificacao" class="select-search">
                <option value="">Selecionar Certificação</option>
                {% for certificacao in certificacao %}
                <option value="{{ certificacao.id }}" {% if request.GET.certificacao == certificacao.id %}selected{% endif %}>
                    {{ certificacao.descricao }} ({{ certificacao.siglaExame }})
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="select-group-search">
            <input type="checkbox" id="enable-list-presenca" onchange="toggleField('presenca')">
            <label for="presenca">Presença:</label>
            <select name="presenca" id="list-presenca">
                <option value="">---</option>
                <option value="True" {% if request.GET.presenca == 'True' %}selected{% endif %}>Sim</option>
                <option value="False" {% if request.GET.presenca == 'False' %}selected{% endif %}>Não</option>
            </select>
            <input type="checkbox" id="enable-list-cancelado" onchange="toggleField('cancelado')">
            <label for="cancelado">Cancelado:</label>
            <select name="cancelado" id="list-cancelado">
                <option value="">---</option>
                <option value="True" {% if request.GET.cancelado == 'True' %}selected{% endif %}>Sim</option>
                <option value="False" {% if request.GET.cancelado == 'False' %}selected{% endif %}>Não</option>
            </select>
        </div> 
    </div>
    <!-- Botões de Ação -->
    <div class="btn-group-search">
        <button type="submit" class="btn-list">Buscar</button>
        <a class="btn-clear" href="{% url 'exame_list' %}">Limpar Busca</a>
    </div>
</form>
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'centroProva_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'exame_new' %}">Novo</a>
</div>
<!-- Seletor para escolher quantos registros exibir -->
{% include "includes/records_per_page_selector.html" with action_url=request.path %}
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Tabela de busca -->
<table class="tb-list" id="tb-list-centroProva-exames">
    <thead>
        <tr>
            <th>
                <a href="?order_by=data&descending={% if request.GET.order_by == 'data' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&daterange={{ request.GET.daterange }}&centroProva={{ request.GET.centroProva }}&certificacao={{ request.GET.certificacao }}&presenca={{ request.GET.presenca }}&cancelado={{ request.GET.cancelado }}">
                    Data e Hora {% if request.GET.order_by == 'data' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=aluno__nome&descending={% if request.GET.order_by == 'aluno__nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&daterange={{ request.GET.daterange }}&centroProva={{ request.GET.centroProva }}&certificacao={{ request.GET.certificacao }}&presenca={{ request.GET.presenca }}&cancelado={{ request.GET.cancelado }}">
                    Aluno {% if request.GET.order_by == 'aluno__nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=centroProva__nome&descending={% if request.GET.order_by == 'centroProva__nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&daterange={{ request.GET.daterange }}&centroProva={{ request.GET.centroProva }}&certificacao={{ request.GET.certificacao }}&presenca={{ request.GET.presenca }}&cancelado={{ request.GET.cancelado }}">
                    Centro de Prova {% if request.GET.order_by == 'centroProva__nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>
                <a href="?order_by=certificacao__nome&descending={% if request.GET.order_by == 'certificacao__nome' and not request.GET.descending == 'True' %}True{% else %}False{% endif %}&q={{ request.GET.q }}&daterange={{ request.GET.daterange }}&centroProva={{ request.GET.centroProva }}&certificacao={{ request.GET.certificacao }}&presenca={{ request.GET.presenca }}&cancelado={{ request.GET.cancelado }}">
                    Certificação {% if request.GET.order_by == 'certificacao__nome' %}{% if request.GET.descending == 'True' %}▼{% else %}▲{% endif %}{% endif %}
                </a>
            </th>
            <th>Presença</th>
            <th>Cancelado</th>
        </tr>
    </thead>
    <tbody>
        {% for exame in page_obj %}
        <tr>
            <td>{{ exame.data|date:"d/m/Y H:i" }}</td>
            <td><a href="{% url 'exame_detail' exame.pk %}">{{ exame.aluno.nome }}</a></td>
            <td>{{ exame.centroProva.nome }}</td>
            <td>{{ exame.certificacao.descricao }} ({{ exame.certificacao.siglaExame }})</td>
            <td>{{ exame.presenca|yesno:"Sim,Não" }}</td>
            <td>{{ exame.cancelado|yesno:"Sim,Não" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Nenhum exame encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Paginação da Tabela -->
{% include 'includes/pagination.html' with page_obj=page_obj query_params=query_params %}
<!-- Grupo de botões (Novo e Retornar) -->
<div class="btn-group">
    <a class="btn-return" href="{% url 'centroProva_home' %}">Retornar</a>
    <a class="btn-new" href="{% url 'exame_new' %}">Novo</a>
</div>

{% endblock %}
