<!-- templates/centroProva/centroProva_home.html -->

{% extends 'base.html' %}

{% block title %}SIGA - Centro de Provas{% endblock %}

{% block content %}

<div class="column-container">
    <div class="column">
        <h2 class="page-title">Centro de Provas</h2>
        <div class="btn-container text-center mb-2">
            <button class="btn-new">
                <a href="{% url 'centroProva_new' %}"></a>
                Novo
            </button>
            <button class="btn-list">
                <a href="{% url 'centroProva_list' %}"></a>
                Localizar
            </button>
            <button class="btn-reports">
                <a href="{% url 'centroProva_reports' %}"></a>
                Relatórios
            </button>
        </div>
    </div>
</div>

<div class="column-container">
    <div class="column">
        <h2 class="page-title">Exames Realizados</h2>
        <div class="btn-container text-center mb-2">
            <button class="btn-new">
                <a href="{% url 'exame_new' %}"></a>
                Novo
            </button>
            <button class="btn-list">
                <a href="{% url 'exame_list' %}"></a>
                Localizar
            </button>
            <button class="btn-reports">
                <a href="{% url 'exame_reports' %}"></a>
                Relatórios
            </button>
        </div>
    </div>
</div>

{% endblock %}
